<html>
    <head>
        <title>???????</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="styles/app.css">
        <link rel="stylesheet" type="text/css" href="styles/menu.css">
        <link rel="stylesheet" type="text/css" href="styles/dashboard.css">
        <link rel="stylesheet" type="text/css" href="styles/grid.css">
        <link rel="stylesheet" type="text/css" href="styles/Canvas_CSS.css">
        <link rel="stylesheet" type="text/css" href="styles/Page_CSS.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <meta charset="UTF-8">
    </head>

    <body ng-app="app">
        
        <nav class="menu " ng-class="{small: extended == false, extended: extended}" ng-controller="MenuController">
            <img src="images/avatar.jpg" alt="Avatar" class="avatar">

            <div class="username" ng-show="extended">
                Jean Dupont
            </div>

            <div class="icons_group" ng-hide="extended">
                {{ $rootScope.time }}
                <a ng-href="#!/"><img src="images/icons/dashboard.png" alt="" class="menu_icon"></a>
                <a ng-href="#!/error"><img src="images/icons/notes.png" alt="" class="menu_icon"></a>
                <a ng-href="#!/error"><img src="images/icons/pencil.png" alt="" class="menu_icon"></a>
                <a ng-href="#!/error"><img src="images/icons/history.png" alt="" class="menu_icon"></a>
                <a ng-href="#!/error"><img src="images/icons/settings.png" alt="" class="menu_icon"></a>
            </div>

            <div class="links_group" ng-show="extended">
                <a ng-href="#!/" class="menu_link">Dashboard</a>
                <hr/>
                <a ng-href="#!/error" class="menu_link">Todo</a>
                <hr/>
                <a ng-href="!/error" class="menu_link">Tableau</a>
                <hr/>
                <a ng-href="!/error" class="menu_link">Historique</a>
                <hr/>
                <a ng-href="!/error" class="menu_link">Paramètres</a>
                <hr/>
            </div>

            <div class="logout" ng-show="extended">
                Déconnexion
            </div>

            <div class="extend_icon">
                <img src="images/icons/extend.png" alt="" class="menu_icon menu_extend" 
                    ng-click="toggleExtend();" ng-hide="extended">
                <img src="images/icons/shrink.png" alt="" class="menu_icon menu_extend" 
                    ng-click="toggleExtend();" ng-show="extended">
            </div>
        </nav>

        <div class="view_container" ng-view>

        </div>

        <!-- Add all scripts -->
        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/angular.js"></script>
        <script type="text/javascript" src="scripts/angular-route.min.js"></script>

        <script type="text/javascript" src="scripts/app.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="scripts/Services/HttpService.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="scripts/Controllers/MainController.js"></script>
        <script type="text/javascript" src="scripts/Controllers/MenuController.js"></script>
        <script type="text/javascript" src="scripts/Controllers/TodoController.js"></script>
        <script type="text/javascript" src="scripts/Controllers/ClockController.js"></script>
        
        <script type="text/javascript" src="scripts/game_Hangman.js"></script>
        <script type="text/javascript" src="scripts/system_PopUp.js"></script>
    </body>
</html>