<div class="canvas">
<center>
		<IMG SRC="images/404/coffee_break.png" width="10%"><div id="title"><b>Coffee break 404 <br> Page non trouvée, mais nous avons des cookies <a href="#null" onclick="javascript:cookies();">ici</a> !</b></div><br>
		Ne soit pas triste... Ça arrive de se perdre ! Tient, pour te consoler, voici un petit jeu du pendu :
		<br><br>
		<IMG class="visible_img" id="0" SRC="images/404/pendu_img_00.png" width="15%">
		<IMG class="hidden" id="1" SRC="images/404/pendu_img_11.png" width="15%">
		<IMG class="hidden" id="2" SRC="images/404/pendu_img_12.png" width="15%">
		<IMG class="hidden" id="3" SRC="images/404/pendu_img_13.png" width="15%">
		<IMG class="hidden" id="4" SRC="images/404/pendu_img_14.png" width="15%">
		<IMG class="hidden" id="5" SRC="images/404/pendu_img_15.png" width="15%">
		<IMG class="hidden" id="6" SRC="images/404/pendu_img_16.png" width="15%">
		<IMG class="hidden" id="7" SRC="images/404/pendu_img_17.png" width="15%">
		<IMG class="hidden" id="8" SRC="images/404/pendu_img_18.png" width="15%">
		<IMG class="hidden" id="9" SRC="images/404/pendu_img_19.png" width="15%">
		<IMG class="hidden" id="10" SRC="images/404/pendu_img_110.png" width="15%">
		<IMG class="hidden" id="11" SRC="images/404/pendu_img_111.png" width="15%"><br>
		<div class="visible" id="word"><div class="hidden" id="101">_</div>
			<div class="hidden" id="102">_</div>
			<div class="hidden" id="103">_</div>
			<div class="hidden" id="104">_</div>
			<div class="hidden" id="105">_</div>
			<div class="hidden" id="106">_</div>
			<div class="hidden" id="107">_</div>
			<div class="hidden" id="108">_</div>
			<div class="hidden" id="109">_</div>
			<div class="hidden" id="110">_</div>
			<div class="hidden" id="111">_</div>
			<div class="hidden" id="112">_</div>
			<div class="hidden" id="113">_</div>
			<div class="hidden" id="114">_</div>
			<div class="hidden" id="115">_</div>
		</div><br>
		<div class="visible" id="answer"></div><br>
		<div class="visible" id="advert"></div><br>
		<INPUT type="text" value="" id="character">
		<INPUT type="button" value="Essayer cette lettre" onClick="check()" id="test">
		<INPUT type="button" value="Rejouer" onClick="init()" id="reload">
		<p><a href="#null" onclick="javascript:game();">Tu n'es pas tout seul ? Joues au morpion avec tes amis !</a></p>
    </center>
</div>