<div class="dashboard" ng-controller="MainController">
    <div class="hexagons">
        <div class="hexagon col-3">
            <img src="images/hexagon.png" alt="">
        </div>
        <div class="hexagon col-3">
            <img src="images/hexagon.png" alt="">
        </div>
        <div class="hexagon col-3">
            <img src="images/hexagon.png" alt="">
        </div>
        <div class="hexagon col-3">
            <img src="images/hexagon.png" alt="">
        </div>
    </div>
</div>