.menu {
    background-color: white;

    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

.menu.small {
    width: 100px;
}

.menu.extended {
    width: 300px;
}

/* Avatar */

.menu .avatar {
    margin-left: 10px;
    margin-top: 10px;

    width: 80px;
    border-radius: 500px;
}

.menu.extended .avatar {
    display: inline-block;
}

/* Username */

.menu.extended .username {
    display: inline-block;

    position: absolute;
    top: 40px;
    right: 60px;

    color: #E37044;
    font-size: 22;
}

/* Icons */

.menu.small .menu_icon {
    width: 35px;
    margin-left: 32px;
    margin-top: 20px;
}

.menu.small .icons_group {
    margin-top: 20px;
}

.menu .extend_icon {
    position: absolute;
    bottom: 20px;
}

.menu.extended .extend_icon {
    right: 50px;
}

.menu .extend_icon .menu_icon {
    width: 20px;
    margin-left: 40px;
}

.menu.extended .logout {
    position: absolute;
    bottom: 20px;
}

/* Links */

.menu.extended .links_group {
    margin-top: 32px;

    width: 260px;
    margin-left: 20px;
}

.menu.extended .menu_link {
    margin-top: 20px;

    font-size: 26px;
    font-weight: 700;
    color: #E37044;

    text-transform: uppercase;
}

.menu.extended .links_group hr {
    border-color: #E37044;
}